@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
	background-color: BLACK;
	margin: 0;
	text-align: center;
	width: 100%;
    font-family: 'arial black', sans-serif;
    font-style: italic
}

a { 
	color:	#555;
}

img {
	max-width:50%;
	height: auto;
}

h1 {
	color: red;
	margin: -2;
	font-size: 3em;
}

h2 {
	text-align: center;
	margin-top: 1.5em;
}

h3 {text-align: left;
    color: darkgray}

h4 { font-size: 2em}

p {
	font-size: 22px;
	color: red;
	text-align: left;
	width: 100%;
	max-width: 30em;
}

div.header {
	background-color:NONE;
	max-width: 100%;
	padding: 0em;
	margin-bottom:0em;
    color: red
}

.container {
	text-align: center;
	max-width: 40em;
	margin: auto;
	margin-top: 0;
	margin-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 2em;
	font-size: 100%;
}

div.header p {
	text-align: center;
	margin: 0.25em auto;
}

p.caption {
	color: #777;
	font-size: .85em;
	margin: 0.25em auto 0;
	text-align: center;
}

nav li {display: inline-block;}
nav a {display: block; color: black; background: NONE; padding: 6px 10px; text-decoration: none; margin: 0 10px; hover: background: yellow; color: red} 
a:hover { 
  color: black;
}

.image1
{
max-width:200%;
	height: auto;
    text-align: center
	max-width: 200%;
	padding: 2em;
	margin-bottom:1em;
}
